<html>
 <h1>Sighting Stats</h1>
 <main>
         <li>There are total of {{total}} observations.</li>
        <br>
        <li>Minimum Latitiude： {{lattitude.minimum}}</li>
        <li>Maximum Latitiude：The Maxiimum latitude is {{lattitude.maximum}}</li>
        <br>
        <li>Minimum Longitude： {{longitude.minimum}}</li>
        <li>Maximum Longitude： {{longitude.maximum}}</li>
        <br>
        <li>shift: {{shift}}</li>
        <br>
         <li>Running: {{running}}</li>
        <br>
        <li>Primary fur color: {{primary_fur_color}}</li> </ul>
     </main>

</html>
